@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 1.8rem;
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

/*========

MAIN CODE

==========*/

main {
  width: 43.5%;
}

.container {
  width: 100%;
  display: flex;
  border-radius: 2rem;
  box-shadow: 15px 15px 15px hsl(221, 100%, 96%),
    -5px -1px 15px hsl(221, 100%, 96%);

  .result-container {
    width: 50%;
    background-image: linear-gradient($Light-slate-blue, $Light-royal-blue);
    color: white;
    padding: 0rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;

    h1 {
      font-size: 7rem;
      font-weight: 800;
      padding: 3rem 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: linear-gradient($Violet-blue, $Persian-blue);
      border-radius: 50%;

      span {
        margin-top: 0.2em;
        font-size: 1.7rem;
        font-weight: 500;
        color: $Light-lavender;
      }
    }
    h2 {
      padding: 2rem 0rem;

      span {
        padding: 1rem 0rem;
        font-size: 2rem;
        color: $Light-lavender;
      }
    }
    p {
      padding-bottom: 2rem;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 500;
      color: $Light-lavender;
    }
  }
  .summary-container {
    width: 50%;

    ul {
      padding: 3rem;

      li {
        h2 {
          padding-bottom: 3rem;
          font-size: 2rem;
          color: $Dark-gray-blue;
        }
        h3 {
          padding: 1.5rem;
          width: 100%;
          font-size: 1.7rem;
          display: flex;
          justify-content: space-between;

          span {
            color: $Dark-gray-blue;

            span {
              padding-left: 0.3rem;
              color: hsla(224, 30%, 27%, 0.5);
            }
          }
        }
        button {
          width: 90%;
          padding: 1.3rem;
          margin-top: 2rem;
          margin-right: 5%;
          margin-left: 5%;
          border: none;
          border-radius: 2rem;
          background-color: $Dark-gray-blue;
          color: white;
          font-size: 1.6rem;
          font-weight: 700;
          cursor: pointer;

          &:hover {
            background-image: linear-gradient(
              $Light-slate-blue,
              $Light-royal-blue
            );
          }
        }

        div {
          display: flex;
          padding: 0rem 1rem;
          margin-bottom: 1.5rem;
          border-radius: 1rem;
        }
      }
    }
  }
}

#reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
  color: $Light-red;
}
#memory {
  background-color: hsla(39, 100%, 56%, 0.1);
  color: $Orangey-yellow;
}
#verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
  color: $Green-teal;
}
#visual {
  background-color: hsla(234, 85%, 45%, 0.1);
  color: $Cobalt-blue;
}

@media screen and (max-width: 1270px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 1040px) {
  .container {
    width: 60%;
    flex-direction: column;

    .result-container {
      width: 100%;
    }
    .summary-container {
      width: 100%;
    }
  }
}

@media screen and (max-width: 801px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 470px) {
  .container {
    width: 100%;

    .result-container {
      border-radius: 2rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
